GridEngine/GridGamesData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="GridGamesData"
    targetNamespace="GridEngine"
    elementFormDefault="qualified"
    xmlns="GridEngine"
    xmlns:mstns="GridEngine"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:complexType name="entity_base">
    <xs:sequence>
      <xs:element name="image" type="image" />
      
      <xs:element name="collisions">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="type_collision" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="string_param" type="string_data" minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>

                        <xs:attribute name="type" type="xs:string" use="required" />
                        <xs:attribute name="method" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>

                    <xs:element name="name_collision" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="string_param" type="string_data" minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>

                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="method" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>

                    <xs:element name="id_collision" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="string_param" type="string_data" minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>

                        <xs:attribute name="id" type="xs:integer" use="required" />
                        <xs:attribute name="method" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
    </xs:sequence>

    <xs:attribute name="type" type="xs:string" use="required" />
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="id" type="xs:integer" use="required" />
  </xs:complexType>
  
  <xs:complexType name="entity">
    <xs:complexContent>
      <xs:extension base="entity_base">
        <xs:attribute name="start_x" type="xs:string" use="required" />
        <xs:attribute name="start_y" type="xs:string" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="player">
    <xs:complexContent>
      <xs:extension base="entity_base">
        <xs:sequence>
          <xs:element name="actions">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="action" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="string_param" type="string_data" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                  
                    <xs:attribute name="key" type="xs:string" use="required" />
                    <xs:attribute name="method" type="xs:string" use="required" />
                    
                    <xs:attribute name="type" type="xs:string" fixed="Player" use="required" />
                    <xs:attribute name="name" type="xs:string" fixed="Player" use="required" />
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  
   
  <xs:complexType name="menu">
    <xs:sequence>
      <xs:element name="menu" type="sub_menu" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="menu_option" type="menu_option" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    
    <xs:attribute name="title" type="xs:string" use="required" />
  </xs:complexType>
  
  <xs:complexType name="sub_menu">
    <xs:complexContent>
      <xs:extension base="menu">
        <xs:attribute name="text" type="xs:string" use="required" />
        <xs:attribute name="image" type="xs:string" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="menu_option">
    <xs:sequence>
      <xs:element name="option" type="string_data" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
    
    <xs:attribute name="current_index" type="xs:integer" use ="required" />
    <xs:attribute name="data_key" type="xs:string" use="required" />
    <xs:attribute name="text" type="xs:string" use="required" />
    <xs:attribute name="image" type="xs:string" use="optional" />
  </xs:complexType>

  

  <xs:complexType name="string_data">
    <xs:attribute name="data" type="xs:string" use="required" />
  </xs:complexType>
  
  <xs:complexType name="image">
    <xs:attribute name="name" type="xs:string" use="required" />
  </xs:complexType>
  
  
  
  <xs:element name="game">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="areas">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="area" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="empty_space_image" type="image" />
                    
                    <xs:element name="background">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="row" minOccurs="1" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:choice>
                                <xs:element name="background_image_element" type="image" minOccurs="1" maxOccurs="unbounded" />
                                <xs:element name="null" minOccurs="0" maxOccurs="unbounded" />
                              </xs:choice>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    
                    <xs:element name="entities">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="entity" type="entity" maxOccurs="unbounded" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    
                    <xs:element name="entry_points">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="point" minOccurs="1" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="name" type="xs:string" use="required" />
                              <xs:attribute name="x" type="xs:integer" use="required" />
                              <xs:attribute name="y" type="xs:integer" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  
                  <xs:attribute name="type" type="xs:string" use="required" />
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="width" type="xs:integer" use="required" />
                  <xs:attribute name="height" type="xs:integer" use="required" />
                  <!--<xs:attribute name="border" type="xs:boolean" use="required" />-->
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
        <xs:element name="player" type="player" minOccurs="1" maxOccurs="1" />
        
        <xs:element name="image_files">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="image_file" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="filename" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="saves">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="save" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="modified_areas">
                      
                    </xs:element>
                    
                    <xs:element name="modified_player">
                      
                    </xs:element>
                    
                    <xs:element name="start_location">
                      <xs:complexType>
                        <xs:attribute name="area" type="xs:string" use="required" />
                        <xs:attribute name="entry_point" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  
                  <xs:attribute name="name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            
            <xs:attribute name="max_saves" type="xs:integer" use="required" />
          </xs:complexType>
        </xs:element>

        <xs:element name="menus">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="main_menu" type="menu" />
              
              <xs:element name="pause_menu" type="menu" />
            
              <xs:element name="menu" type="menu" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>

      <xs:attribute name="name" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>